
h1 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    display: block;
    font-size: 6em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
h3 {
    display: block;
    font-size: 1.2em;
    margin-block-start: 01em;
    margin-block-end: 0em;
    margin-inline-start: 10px;
    margin-inline-end: 0px;
    font-weight: bold;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to top right, #ffffff77, #ffffff);
    z-index: 1;
}
.text1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0em;
    margin-block-end: 0.1em;
    margin-inline-start: 2px;
    margin-inline-end: 0px;
    font-weight: bold;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to top right, #ffffffbe, #00ffaa);
}
.text2 {
    display: block;
    font-size: 3em;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 20px;
    margin-inline-end: 0px;
    font-weight: bold;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to top right, #00ff62, #ffffff);
    z-index: 1;
    position: absolute;
}
.text-3 {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to top right, #fa9703, #13e75a);

}
.text4 {
    display: block;
    font-size: 2em;
    margin-block-start: 1em;
    margin-block-end: 0em;
    margin-inline-start: 10px;
    margin-inline-end: 0px;
    font-weight: bold;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to top right, #a6d9fc, #ffffff);
}
.text5 {
    display: block;
    font-size: 1em;
    margin-block-start: 1em;
    margin-block-end: 0em;
    font-weight: bold;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to top right, #a6dafc48, #ffffff5d);
}


.rounded-\[40px\] {
    border-radius: 40px;
}
.-rotate-12 {
    --tw-rotate: -12deg;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}
.origin-bottom {
    transform-origin: bottom;
}
.max-w-\[250px\] {
    max-width: 250px;
}
img, video {
    max-width: 100%;
    height: auto;
}


.nav {
    margin-bottom: env(safe-area-inset-bottom);
    margin-bottom: 0px;
    padding-bottom: env(safe-area-inset-bottom);
    left: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 55px;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    display: flex;
    overflow-x: auto;
    text-decoration: none;
    z-index: 2;
}
*, ::before, ::after {
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(7, 122, 51, 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
}
user agent stylesheet
nav {
    display: block;
}
.navtxt1 {
    color: #007bff;
    font-size: 13px;
}
.nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    min-width: 50px;
    overflow: hidden;
    white-space: nowrap;
    font-size: 12px;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.1s ease-in-out;
    font-size: 1rem;
}
*, ::before, ::after {
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(7, 122, 51, 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia: ;
}
.tab {
    height: auto;
    width: 25px;
}
.tab3 {
    height: auto;
    width: 20px;
}
.tab2 {
    height: auto;
    width: 25px;
    left: 1px;
    right: 1px;
}
.icon {
    height: auto;
    max-width: 70px;
    min-width: 40px;
}
.icon1 {
    height: auto;
    max-width: 2.9em;
    min-width: none;
    display: flex; /* Sử dụng flexbox để hiển thị các icon theo hàng ngang */
    justify-content: space-between; /* Canh các icon cách đều nhau trên hàng ngang */
    align-items: center; /* Canh các icon theo chiều dọc giữa container */
    margin-right: 1px; /* Đặt khoảng cách giữa các icon */
    margin-inline-start: 15px;
}
.info {
    color: #fff;
    font-size: 1.3rem;
}
b { 
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: linear-gradient(to top right, #ffffff, #ffffff00);
}


.styled {
    border: 0;
    line-height: 300%;
    padding: 0 30px;
    font-size: 20px;
    text-align: center;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    margin-inline-start: 20px;
}
button {
    appearance: auto;
    writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: #002fff;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    margin: 1.5em;
    padding: 1px 6px;
    border-width: 20px;
    border-style: outset;
    border-color: buttonborder;
    border-image: initial;
    background: -webkit-linear-gradient(left, #2c6eac, #0022ff); /* từ trái sang phải*/
    background: -o-linear-gradient(right, #006eff, #003cff); /* kết thúc phía bên phải */
    background: -moz-linear-gradient(right, #ffffff, #0026ff); /* kết thúc phía bên phải */
    background: linear-gradient(to right, #180294, #00ffd5); /* chuyển động sang phía bên phải */
    background-color: #006eff; /* Bạn nên đặt màu nền đồng nhất phòng trường hợp không tải được màu nền đậm/nhạt dầntn  5555n*/
} 
user agent stylesheet
center {
    text-align: -webkit-center;
}



.snowflake {
    color: rgb(255, 158, 158);
    }
    @-webkit-keyframes snowflakes-fall {
    0% {
    top: -10%;
    }
    100% {
    top: 100%;
    }
    }
    @-webkit-keyframes snowflakes-shake {
    0% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    }
    50% {
    -webkit-transform: translateX(80px);
    transform: translateX(80px);
    }
    100% {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    }
    }
    @keyframes snowflakes-fall {
    0% {
    top: -10%;
    }
    100% {
    top: 100%;
    }
    }
    @keyframes snowflakes-shake {
    0% {
    transform: translateX(0px);
    }
    50% {
    transform: translateX(80px);
    }
    100% {
    transform: translateX(0px);
    }
    }
    .snowflake {
    position: fixed;
    top: -10%;
    z-index: 9999;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    -webkit-animation-name: snowflakes-fall, snowflakes-shake;
    -webkit-animation-duration: 10s, 3s;
    -webkit-animation-timing-function: linear, ease-in-out;
    -webkit-animation-iteration-count: infinite, infinite;
    -webkit-animation-play-state: running, running;
    animation-name: snowflakes-fall, snowflakes-shake;
    animation-duration: 10s, 3s;
    animation-timing-function: linear, ease-in-out;
    animation-iteration-count: infinite, infinite;
    animation-play-state: running, running;
    }
    .snowflake:nth-of-type(0) {
    left: 1%;
    -webkit-animation-delay: 0s, 0s;
    animation-delay: 0s, 0s;
    }
    .snowflake:nth-of-type(1) {
    left: 10%;
    -webkit-animation-delay: 1s, 1s;
    animation-delay: 1s, 1s;
    }
    .snowflake:nth-of-type(2) {
    left: 20%;
    -webkit-animation-delay: 6s, 0.5s;
    animation-delay: 6s, 0.5s;
    }
    .snowflake:nth-of-type(3) {
    left: 30%;
    -webkit-animation-delay: 4s, 2s;
    animation-delay: 4s, 2s;
    }
    .snowflake:nth-of-type(4) {
    left: 40%;
    -webkit-animation-delay: 2s, 2s;
    animation-delay: 2s, 2s;
    }
    .snowflake:nth-of-type(5) {
    left: 50%;
    -webkit-animation-delay: 8s, 3s;
    animation-delay: 8s, 3s;
    }
    .snowflake:nth-of-type(6) {
    left: 60%;
    -webkit-animation-delay: 6s, 2s;
    animation-delay: 6s, 2s;
    }
    .snowflake:nth-of-type(7) {
    left: 70%;
    -webkit-animation-delay: 2.5s, 1s;
    animation-delay: 2.5s, 1s;
    }
    .snowflake:nth-of-type(8) {
    left: 80%;
    -webkit-animation-delay: 1s, 0s;
    animation-delay: 1s, 0s;
    }
    .snowflake:nth-of-type(9) {
    left: 90%;
    -webkit-animation-delay: 3s, 1.5s;
    animation-delay: 3s, 1.5s;
    }
    body {
        background: -webkit-linear-gradient(left, #2c6eac, #0022ff); 
        background: -o-linear-gradient(right, #006eff, #003cff);
        background: -moz-linear-gradient(right, #ffffff, #0026ff);
        background: linear-gradient(to right, #09168dad, #00030200);
        background-color: #041325;
    } 
    .hhn {
            max-width: 80%;
            min-width: 40%;
            height: auto;
            border-radius: 70px;
            position: relative;
            top: 40px;
            right: 0px;
            display: block;
            margin: auto;
            transform: rotate(-12deg);
    }
    
